# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
build/
dist/

# Optional npm cache directory
.npm/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/
